/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version	 :	1.9.5
Updated	 :	04.02.2022
*/
/*! WRITE YOUR CUSTOM STYLE **/

.bg-default { background-color: #000000 !important; }

.bg-alternet { background-color: #000000 !important; }

.bg-primary { background-color: #c343fe !important; }

.bg-secondary { background-color: #3d0050 !important; }

.tc-theme, .tc-theme a { color: #550055 !important; }

.tc-theme-alt, .tc-theme-alt a { color: #2d0d57 !important; }

.bg-grad { background-image: linear-gradient(90deg, #000000 0%, #000000 100%) !important; }

.bg-grad-alt { background-image: linear-gradient(90deg, #000000 0%, #000000 100%) !important; }

.bg-grad-special { background-image: linear-gradient(140deg, #fed895 0%, #fed895 20%, transparent 50%, transparent 100%) !important; }

.bg-grad-special-alt { background-image: linear-gradient(to top, #000000 0%, #000000 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 100%); }

.bg-grad-vr-theme-to-alt { background-image: linear-gradient(to bottom, #000000 0%, #000000 100%) !important; }

.bg-grad-vr-theme-dark-to-dark-alt { background-image: linear-gradient(to bottom, #36080b 0%, #49191d 100%) !important; }

.bg-grad-vr-alt-to-theme { background-image: linear-gradient(to top, #000000 0%, #000000 100%) !important; }

.bg-grad-vr-dark-alt-to-theme-dark-to-theme { background-image: linear-gradient(to top, #36080b 0%, #49191d 100%) !important; }

.bg-theme { background-color: #000000 !important; }

.bg-theme-grad-alt { background-image: linear-gradient(to right, #000000 0%, #23003f 170%) !important; }

.dream-btn {
    border: 1.5px solid #ffffff;
    border-radius: 1.5px;
    position: relative;
    z-index: 1;
    min-width: 160px;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    background-size: 200% auto;
    color: #fff;
    border-radius: 100px;
    background-image: #50cdfe;
    -webkit-transition: all 500ms;
    transition: all 200ms;
    margin-top:7px;
    cursor: pointer;
}

.dream-btn:hover {
    color: #fff;
    background: #7450fe;
    border-color: #7450fe;
}

.header-logo{
    margin-bottom: 10px;
    
}

.btn-outline:not(:hover), .btn-outline:not(:focus) { color: #7450fe; background-color: transparent !important; }

.btn-outline.on-bg-theme:before { background-color: #7450fe;}

.btn-outline.on-bg-theme-dark:before { background-color: #36080b; }

.btn-outline.on-bg-theme-dark-alt:before { background-color: #49191d; }

.btn-outline:hover, .btn-outline:focus { color: #fff !important; }

.btn-outline:hover:before, .btn-outline:focus:before { opacity: 0; }

.btn-outline.btn-grad { border: none; }

.btn-outline.btn-grad:hover, .btn-outline.btn-grad:focus { color: #fff !important; }

.btn-icon { min-width: 44px; padding-left: 6px; padding-right: 6px; }

.btn-primary { background-color: #7450fe; border-color: #7450fe; }

.btn-primary:hover:focus, .btn-primary:focus:focus { color: #fff !important; }

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus { background-color: #7450fe !important; border-color: #7450fe;; color: #fff !important; }

.login-btn {
    
    z-index: 1;
    color: #fff;
    font-size: 12px !important;
    line-height: 60px;
    padding: 0 20px;
    min-width: 100px;
    height:50px;
    border-radius: 15px;
    border: 2px solid;
    letter-spacing: 1px;
    border-color: #7450fe;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    color: #fff;
    background: #7450fe;
    border-color: #7450fe;
}
.btn { position: relative; 
    font-size: 12px; 
    line-height: 24px; 
    font-weight: 500; 
    padding: 8px 15px; 
    text-align: center; 
    text-transform: uppercase; 
    color: #fff; min-width: 
    120px; max-width: 100%; 
    border: 2px solid #7450fe; 
    box-sizing: border-box; 
    transition: all 0.5s; 
    position: relative; 
    border-radius: 10px; 
    z-index: 2; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    white-space: nowrap; 
    cursor: pointer; }

