@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;900&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.title1{
	color: #fff;
	font-size:20px;
	text-align: center;
	margin-top: 80px;
	font-family: 'Orbitron', sans-serif;
}



.left{
	width: 100%;
	text-align: center;
	padding: 5px 0;
	background-color: transparent;
}


.nav-link {
	color: white;
}

.nav-link:hover{
	color: #8154fd;
	

}


.navbar{
	background-color: rgb(0, 0, 0);
}




.account-title {
	color:rgb(255, 255, 255);
	font-size:20px;
	font-family: 'Orbitron', sans-serif;
	margin-top: 5px;
	display: centre;
}

body{
	font-family: 'Orbitron', sans-serif;
	background: linear-gradient(to right, #05020e 0%, #1a0d35 51%, #230036 100%)

}
.gui-logo{
    width: 350px;
    height: 350px;
    margin-top:300px;
}

.balance{
	color: rgb(255, 255, 255)
}

.card-body{
	background-color: #100929 !important;
}

.right {
	background-color: #100929;
	display: flex;
}

.card-header {
	background-color:#100929 !important;
	color:rgb(255, 255, 255)
}



.container{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 5px;


}

.container1{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 5px;
	border: 0.5px solid;
	border-color: rgb(70, 70, 70);
}

.logo-image{
margin-top: 50px;
}

.df{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	color: rgb(255, 255, 255);
}

.bt_credentials {
	display: center;
	margin-left: 452px;
}

.bt_g{
	padding: 4px;
	border-radius: 25px;
	border: 1px solid rgb(90, 90, 90);
	font-size: 12px;
	cursor: pointer;
	margin: 8px;
	font-family: "Arial Black", Gadget, sans-serif;
	background-size: 200% auto;
	color: #FFF;
	width: 130px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.8s cubic-bezier(.25,.8,.25,1);
    background-image: linear-gradient(to right, #341868 0%,#180b38 70%);
}

.bt_g:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: linear-gradient(to right, #df3cd1 0%,#8154fd 70%);

}
.topbar{
	padding: 30px 0;
}

.copyright1 {
	font-size: 16px;
	margin-top: 70px;
	color: rgb(161, 161, 161);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.second_bar{
	background: #160d3a;
	width: 50;
	max-width: 10;
}
.pl-2{
	padding-left: 30px;

}
.m2{
	margin-right: 15px;
}
.right p{
	padding-left: 20px;

}
.right{
	width: 67%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}

.bt_g.m2{
	margin-left: auto;
}

.amount{
	color: #fff;
	margin-top: 16px;
	font-size: 27px;
}

.manage{
	font-size: 18px;
	color: rgb(255, 255, 255);
	margin-top: 40px;
	margin-bottom: 10px;
}

.exchange-buttons-container{
	margin-top: 10px;
	margin-left: 7px;
}

.third_bar{
	background: rgb(0, 0, 0);
	color: #fff
}

.card{
	border: 1px solid rgb(49, 49, 49);

}

.line {
	border: 0.1px solid rgb(61, 61, 61);
	border-width: 1px
}


.left_1,.right_1{
	width: 50%;
}

.profile img{
	max-width: 50px;
	border-radius: 100%;
	margin-right: 10px;
}

.text_gray{
	color: rgb(196, 196, 196);
	font-size: 20px;
	font-weight: bold;
}

.text_white{
	color: rgb(255, 255, 255);
	font-size: 26px;
	font-weight: bold;
}
.slash{
	color: rgb(255, 255, 255);
	font-size: 28px;
	margin: 0 2px;

	font-weight: bold;
}

.profile{
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}
.profile i{
		background: #333333;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 6px;
    font-size: 17px;
    margin-left: 10px;
}

.bth{
	background: #00cc66;
	font-size: 12px;
	color: #fff;
	border-radius: 1px;
	border: none;
	padding: 5px 8px;
	margin-right: 10px;
}

.info{
	margin-top: 10px;
	align-items: center;
}

.small_white{
	color: #fff;
	font-size: 15px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.small_gray{
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.info i{
	margin: 0 5px;
	color: rgb(255, 255, 255);
}

.info span{
	display: inline-block;
	margin: 0 5px;
}

.right_1{
	justify-content: flex-end;
	color: #fff;
	align-items: center;
}

.right_1 h1{
	margin-right: 13px;
}

.text-red{
	color: red;
	font-size: 12px;
}
.right_1 i{
	color: red;
	margin-right: 5px;
	font-size: 12px;
}

.eth{
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: gray;
}

.alr{
	justify-content: flex-end;
}

.m3{
	margin: 20px 0;
}

.sell-btn{
	margin-left: 10;
}

.bg_gr{
	background: #1c0b46;
	width: 100% ;
	margin: 20px 0px;
	margin-bottom: 50px;
}

.jss{
	justify-content: space-between;
}

.bt_v{
	font-size: 11px;
	border: 0.5px solid;
	border-color:rgb(172, 172, 172) ;
	padding: 5px;
	border-radius: 25px;
	cursor: pointer;
	margin: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	background-size: 200% auto;
	color: rgb(255, 255, 255);
	width: 150px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
	background-image: -webkit-linear-gradient(left, #9400F3 0%, #6e40eb 70%);
	background-image: linear-gradient(to right, #9400F3 0%,#6e40eb 70%);
}

.bt_v:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: linear-gradient(to right, #a411ff 0%,#7847ff 70%)
}

header{
	padding: 10px;
	border-bottom: 1px solid;
	border-radius: 1px;
}

.bt_v i{
	margin-right: 5px;
}

.t_v{
	color: #666699;
	font-weight: bold;
}

.fa-question-circle{
	color: #1a99af;
}

.box span{
	display: block;
	font-weight: bold;
	font-size: 13px;
	margin: 5px 0;
}

.t_g{
	color: #ffffff;
}

.jc{
	justify-content: center;
	margin: 40px 0;
}

.bt_3{
	padding: 5px;
	border: 0.5px solid rgb(153, 153, 153);
	font-size: 11px;
	cursor: pointer;
	margin: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	background-size: 100% auto;
	border-radius: 25px;
	color: #FFF;
	width: 100px;
	text-transform: uppercase;
	background-size: 150% auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
	background-image: linear-gradient(to right, #a700da 0%,#9040eb 70%);
}

.bt_3:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: linear-gradient(to right, #ff43ef 0%,#9d54fd 70%);
}

.bt_4{
	padding: 5px;
	border: 1px solid rgb(138, 138, 138);
	font-size: 11px;
	cursor: pointer;
	margin: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	background-size: 100% auto;
	border-radius: 25px;
	color: #FFF;
	width: 80px;
	text-transform: uppercase;
	background-size: 150% auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
	background-image: linear-gradient(to right, #1c37cf 0%,#3f1dd6 70%);
}

.bt_4:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: linear-gradient(to right, #2331ff 0%,#0c60df 70%);
}
.boxed2 {
    background-color: rgb(41, 18, 172);
    color: black;
    /* transition: 0.5s; */
    background-color: var(--terminal-bg-color);
    color: var(--text-color);
    transition: var(--transition-delay);
    border-top: 0px;
    border: 0px;
    height: calc(100% - 6px);
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.center {
  width: 50%;
	text-align: center;
	margin-left: 14% !important;
  margin-right: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input{
	border: 1px solid rgb(21, 17, 90);
	border-radius: 0px 20px 20px 0px !important
	/* border-radius: 15px 50px 30px; */
}

.input-group-text {
	border-radius: 20px 0px 0px 20px
}

.input-group-append > .input-group-text{
	border-radius: 0px 20px 20px 0px
}

.input-group > input{
	border-radius: 0px 0px 0px 0px !important
}

.box{
	color: rgb(0, 0, 0);
	width: calc(25% - 100);
	margin: 20px 10px;
	background: #2b2163;
	border-radius: 1px;
	padding: 10px 10px;
}


.input-group-text{
	color: rgb(255, 255, 255);
	background-color:rgb(0, 0, 0)
}

.nav-brand > a > img{
	margin-top: 1% !important;
}

button{
	padding: 5px;
	font-size: 11px;
	cursor: pointer;
	border-radius: 0.5px;
	border: 0.5px solid rgb(175, 175, 175);
	margin: 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;

	background-size: 100% auto;
	color: #FFF;
	width: 60px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
	background-image: linear-gradient(to right, #7474BF 0%, #e835e2 51%, #f420ff 100%)
}
button:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-image: linear-gradient(to right, #f420ff 0%, #7474BF 51%, #7474BF 100%)

}
.card-header{
	border-radius: 25px 25px 0px 0px!important;
}
.card-body{
	border-radius: 0px 0px 25px 25px!important;
}
.card{
	border-radius: 25px;
  background: transparent !important;
}